body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 35, 35);
  overflow: hidden;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* #game-container {
  height: 100%;
  margin: 0 auto;
  border-radius: 15px;
  border: 10px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#game-container {
  width: min(90vw, 1280px);
  height: min(70vh, 700px);
  min-width: 320px;
  min-height: 240px;
  border-radius: 15px;
}

#game-container canvas {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  border-radius: 8px;
}

@media (min-width: 1400px) {
  #game-container {
    width: max(1000px, 60vw);
    height: max(700px, 60vh);
  }
}
