body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 35, 35);
  overflow: hidden;
  margin: 0;
  padding: 10px;
}
/*
#game-container {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 15px;
  border: 10px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}*/

#game-container canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

#game-container {
  width: min(90vw, 1280px); /* Maksimalno 90% širine ili 1280px */
  height: min(70vh, 700px); /* Maksimalno 70% visine ili 700px */
  min-width: 320px; /* Minimalna širina */
  min-height: 240px; /* Minimalna visina */
  border-radius: 15px;
}
